<% include top %>
<script>
function logout() {
	localStorage.removeItem('username');
	localStorage.removeItem('password');
	window.location = '/';
}
</script>

<div id='controlBar'>
	<span id='username'><%= username %></span>
	<a id='logOut' href='javascript:logout()'>Forget me</a>
</div>

<div id='balances'>
	<div>
		<ul>
			<li>
				<div>Flex points</div>
				<div><%= flexPoints %></div>
			</li>
			<li>
				<div>Meal credits</div>
				<div><%= mealCredits %></div>
			</li>
			<li>
				<div>Bear bucks</div>
				<div><%= bearBucks %></div>
			</li>
			<li>
				<div>PawPrints</div>
				<div><%= pawPrints %></div>
			</li>
		</ul>
	</div>
</div>

<% include bottom %>
